<div 
		id="header-video"
		class="full-height black-wrapper" 
		style="width: 100%; height: 500px;" 
		data-vide-bg="mp4: video/ocean, webm: video/ocean, ogv: video/ocean, poster: video/ocean.jpg" 
		data-vide-options="position: 0% 50%">
		<div class="bar left-bar"></div>
		<div class="bar right-bar"></div>
		<div class="bar bottom-bar"></div>
		<div class="page-header text-center">
			<h1><small>Welcome to</small>Fluid Media Productions<small>A Small Boat in the Big Sea</small></h1>
		</div>
		<a id="down-link" href="#"><i class="icon-mouse"></i></a>
</div>
