{{ partial "header" . }}

{{ partial "index/top" . }}

<section id="services" class="page-section light-wrapper no-bottom">
  <div class="container-fluid">
    <div class="row">
     <div class="page-header text-center">
	<h1>What we specialise in<small>We're good at this</small></h1>
     </div> 
     {{ range $index, $element := where (where .Site.Pages "Section" "specialities") "IsPage" true }}
       <div class="col-md-3 service even">
         <i class="fa {{ $element.Params.icon }}"></i>
         <h3>{{ $element.Title }}</h3>
         <p>{{ $element.Params.summary }}</p>
         <a href="{{ $element.URL }}" class="btn btn-white tm15">Learn More</a>
       </div>
       {{ if modBool (add $index 1) 4 }}
         </div>
         <div class="row">
       {{ end }}
     {{ end }}
   </div>
  </div>
</section>

<section id="work" class="page-section dark-wrapper no-bottom">
    <div class="wrapper">
        <div class="page-header text-center">
            <h1>Our Work<small>Its Not Bad</small></h1>
        </div>
    </div>
    {{ $.Scratch.Add "tags" (slice "All") }}
    {{ range $element := where (where .Site.Pages "Section" "work") "IsPage" true }}
        {{ range $tag := $element.Params.tags }}
            {{ if not (in ($.Scratch.Get "tags") $tag)}}
                {{ $.Scratch.Add "tags" (slice $tag) }}
            {{ end }}
        {{ end }}
    {{ end }}
    <ul id="filters">
        {{ range $tag := $.Scratch.Get "tags" }}
        <li>
            {{ if (eq $tag "All") }}
                <a href=".item" class="btn active">All</a>
            {{ else }}
                <a href=".{{ lower (replace $tag " " "-" )}}" class="btn">{{ $tag }}</a>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    <div id="loader">
        <div class="item"></div>
    </div>
    <div id="container">
        {{ range $index, $element := where (where .Site.Pages "Section" "work") "IsPage" true }}
            <div class="item small {{ range $tagIndex, $tag := $element.Params.tags }}{{ lower (replace $tag " " "-" )}} {{ end }}">
                <div class="item-inner">
                    <a href="{{ $element.URL }}">
                        <img src="/img/p1.png" alt="Portfolio Item" />
                        <div class="project-title">
                            <div class="title-wrapper">
                                <h3>{{ $element.Title }}</h3>
                                <span>
                                    {{ range $tagIndex, $tag := $element.Params.tags }}
                                        {{ $tag }}{{ if not (eq $tagIndex (sub (len $element.Params.tags) 1))}},{{ end }}
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{ end }}
    </div>
</section>

<section id="services-inverse" class="page-section dark-wrapper">
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1>Client Feedback</h1>
            </div>

            {{ range $index, $element := where (where .Site.Pages "Section" "feedback") "IsPage" true }}
                <div class="col-sm-4 service-alt">
                    <div class="inner">
                        <i class="fa fa-quote-right"></i>
                        <h3>{{ $element.Title }}</h3>
                        <p>{{ $element.Params.summary }}<br></p>
                        <a href="{{ $element.URL }}" class="btn tm15">Learn More</a>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>

<section class="page-section parallax" style="background-image: url('img/mountains.jpg');">
    <div class="container-fluid">
        <div class="row">
            <div class="page-header text-center">
                <h1>Success is not final, failure is not fatal:<br> it is the courage to continue that counts.<small>Winston Churchill</small></h1>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="page-section dark-wrapper">
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1>Our Products<small>They are very good</small></h1>
            </div>

            {{ range $element := where (where .Site.Pages "Section" "products") "IsPage" true }}
            <div class="col-sm-4">
                <section class="pricing-table">
                    <h3>{{ $element.Title }}<span>{{ $element.Params.summary }}<br> Starting At:</span></h3>
                    <h2>
                        <span class="price"><sup>£</sup>{{ $element.Params.price }}</span>
                        <span class="deets">Price may vary.</span>
                    </h2>
                    <ul>
                        {{ range $item := $element.Params.includes }}
                            <li>{{ $item }}</li>
                        {{ end }}
                    </ul>
                    <a href="{{ $element.URL }}" class="btn btn-primary">Learn More</a>
                </section>
            </div>
            {{ end }}
        </div>
    </div>
</section>

<section id="about" class="page-section light-wrapper no-bottom">
    <div class="container">
        <div class="row">
            <div class="page-header text-center">
                <h1>Our Team<small>The Best of the Best</small></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            {{ range $element := where (where .Site.Pages "Section" "team") "IsPage" true }}
                <article class="col-md-6 team-member text-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="page-header">
                                <h1>{{ $element.Title }}<small>{{ $element.Params.position }}</small></h1>
                                <p>{{ $element.Params.summary }}</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <img src="{{ $element.Params.image }}" alt="" />
                        </div>
                    </div>
                </article>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer" . }}
