<!-- Bootstrap -->
<link href="{{ print "/bootstrap/css/bootstrap.min.css" | relURL  }}" rel="stylesheet">
<!-- Main Styles -->
<link href="{{ print "/css/plugins.css" | relURL  }}" rel="stylesheet" type="text/css">
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic,700italic' rel='stylesheet' type='text/css'>
<!-- Main Styles -->
<link href="{{ print "/css/style.css" | relURL  }}" rel="stylesheet" type="text/css">
